:root {
  --main-color: #ff9800;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* setting-box */
.setting-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  transition: -3s;
  border: 1px solid #fff;
}
.setting-box.open {
  left: 0;
}
.setting-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #ffebcd00;
  text-align: center;
  cursor: pointer;
}
.setting-box .toggle-settings .fa-gear {
  padding: 8px 0;
  width: 30px;
  color: var(--main-color);
}
.setting-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 0;
}
.setting-box .option-box h4 {
  color: #666;
  margin: 0;
  font-size: 14px;
}
.setting-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  position: relative;
  right: 20px;
}
.setting-box .option-box .colors-list li {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #777;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 3px solid transparent;
}
.setting-box .option-box .colors-list li.active {
  border-color: black;
}
.setting-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.setting-box .option-box .colors-list li:nth-child(2) {
  background-color: aqua;
}
.setting-box .option-box .colors-list li:nth-child(3) {
  background-color: #03a9f4;
}
.setting-box .option-box .colors-list li:nth-child(4) {
  background-color: rgb(255, 3, 3);
}
.setting-box .option-box .colors-list li:nth-child(5) {
  background-color: blueviolet;
}
.setting-box .option-box .yes,
.setting-box .option-box .no {
  width: 50px;
  background-color: #009688;
  color: #fff;
  margin-top: 20px;
  font-size: 12px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
}
.setting-box .random-background span.active {
  opacity: 1;
}
.setting-box .option-box .bullet-option span.active{
    opacity: 1;
}
.setting-box .resetoption{
  background-color: #009688;
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
/* nav-bullets */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}
.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 150px;
  color: #fff;
  padding: 4px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-color);
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
/* landing */
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/bg5.jpg");
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: #6495ed1a;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}
.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links-container{
  width:100%;
  text-align: right;
}
.header-area .links{
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0;
  font-weight: bold;
}
.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links li a {
  color: #fff;
  text-decoration: none;
}
.header-area .links li a:hover {
  color: var(--main-color);
}
.header-area .toggle-menu{
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}
.header-area .toggle-menu.menu-active::before{
  content: '';
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -18px;
  left: 10px;
}
.header-area .toggle-menu:focus{
  outline: none;
}
.header-area .toggle-menu span{
  display: block;
  background-color: #fff;
  height: 3px;
  margin-bottom: 4px;
}
.introduction {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 95%;
}
.introduction h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
@media(max-width:575px){
  .introduction h1 {
    font-size: 26px;
  } 
}
.introduction h1 span {
  color: var(--main-color);
}
.introductionb p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
@media(max-width:991px){
  .header-area .links{display: none;}
  .header-area .links.open{
    background-color: #fff;
    padding:5px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
  }
  .header-area .links.open li{
    display: block;
    margin: 10px;
  }
  .header-area .links.open li a{
    color: #009688;
    font-weight: bold;

  }
  .header-area .toggle-menu{display: inline-block;}
}
/* About Us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.about-us .info-box {
  flex: 1;
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
  text-align: justify;
}
.about-us .image-box {
  flex: 1;
}
@media(max-width:767px){
  .about-us {
    display: block;
    text-align: center;
  }
  .about-us .info-box{
    padding: 0;
  }
}
/* skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffeb3b;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
.skills .skill-box .skill-power {
  height: 30px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-power span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #009688;
  transition: all 0.5s;
}
@media(max-width:767px){
  .skills .skill-box {
    display:block;
  } 
  .skills .skill-box .skill-name{
    width: 100%;
    margin-bottom: 15px;
  }
}
/* Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}
.popup-box .close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #f6f6f6;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
}
.popup-box img {
  max-width: 100%;
}
/* timeline */
.time-line {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffeb3b;
}
.time-line .timeline-content {
  position: relative;
  overflow: hidden;
}
.time-line .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.time-line .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}
.time-line .timeline-content .left,
.time-line .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  text-align: justify;
}
.time-line .timeline-content .left {
  float: left;
}
.time-line .timeline-content .left::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  right: -35px;
  border-radius: 50%;
  top: 20px;
}
.time-line .timeline-content .right {
  float: right;
}
.time-line .timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  left: -35px;
  border-radius: 50%;
  top: 20px;
}
.time-line .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}
.time-line .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.time-line .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix {
  clear: both;
}
.time-line .timeline-content .left .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 20px;
}
.time-line .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
  top: 20px;
}
@media(max-width:767px){
  .time-line .timeline-content .left, .time-line .timeline-content .right{
    width: 100%;
    margin-bottom:20px;
  }
  .time-line .timeline-content .left::before,
  .time-line .timeline-content .right::before{display: none;}
}
/* Features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}
.features .feat-box img {
  width: 300px;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  color: #009688;
  position: relative;
}
.features .feat-box h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}
.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #767676;
  text-align: justify;
}
@media(max-width:991px){
  .features .feat-box {
    width:100%
  }
}
/* testimonial */
.testimonial {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
.testimonial::before {
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #009688;
  height: 100%;
}
.testimonial::after {
  content: "";
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #b94d4d;
  height: 100%;
}
.testimonial h2 {
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0 0 30px;
  text-align: left;
  position: relative;
  z-index: 2;
}
.testimonial .test-box {
  position: relative;
  z-index: 2;
  width: calc(98% / 3);
  float: left;
  background-color: #fff;
  padding: 20px;
}
.testimonial .test-box:not(:last-of-type) {
  margin-right: 1%;
}
.testimonial .test-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color: #707070;
  text-align: justify;
  font-style: italic;
}
.testimonial .test-box .person-info {
  overflow: hidden;
}
.testimonial .test-box .person-info img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
.testimonial .test-box .person-info h4 {
  margin: 14px 0 5px;
}
.testimonial .test-box .person-info p {
  color: #707070;
  margin: 0;
  font-weight: bold;
}
@media(max-width:991px){
  .testimonial .test-box{
    text-align: center;
    overflow: visible;
  }
  .testimonial .test-box .person-info img{
    float:none;
    margin-right: 0;
  }
}
@media(max-width:767px){
  .testimonial .test-box{
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
  .testimonial h2{
    text-align: center;
  }
}
/* contact-us */
.contact-us{
  min-height: 600px;
  background-image: url("../imgs/iii.jpg");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.contact-us .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 60%);
}
.contact-us .container{
  position: relative;
  z-index: 2;
}
.contact-us h2{
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.contact-us form{
  overflow: hidden;
  max-width:800px;
  margin: auto;
}
.contact-us form .left{
  float: left;
  width: 49%;
}
.contact-us form .right{
  float: right;
  width: 49%;
}
.contact-us form input:not([type="submit"]),
.contact-us form textarea{
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact-us form input:not([type="submit"]):focus,
.contact-us form textarea:focus{
  outline: 1px solid var(--main-color);
}
.contact-us form input{
  height: 40px;
}
.contact-us form textarea{
  height: 150px;
}
.contact-us form input[type="submit"]{
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color:#009688;
  color: #fff;
  cursor:pointer ;
}
.contact-us form textarea:focus::-webkit-input-placeholder,
.contact-us form input:not([type="submit"]):focus::-webkit-input-placeholder
{
  opacity: 0;
  transition: .3s;
}
.contact-us form textarea:focus:-ms-input-placeholder,
.contact-us form input:not([type="submit"]):focus:-ms-input-placeholder{
  opacity: 0;
  transition: .3s;
}
.contact-us form textarea:focus::placeholder,
.contact-us form input:not([type="submit"]):focus::placeholder{
  opacity: 0;
  transition: .3s;
}
@media(max-width:767px){
  .contact-us form .left,
  .contact-us form .right{
    float: none;
    width: 100%;
  }
}
/* Footer */
.footer{
  background-color: #333;
  color: #eee;
  padding: 20px;
  text-align: center;
}
/* grid system */
@media(min-width:576px){
  .container{
    max-width: 540px;
  }
}
@media(min-width:768px){
  .container{
    max-width: 720px;
  }
}
@media(min-width:992px){
  .container{
    max-width: 960px;
  }
}
@media(min-width:1200px){
  .container{
    max-width: 1140px;
  }
}